{% extends 'layout.html' %}

{% load static %}

{% block body_content_class %}with_sidebar{% endblock %}

{% block content %}
    <div class="map">
        <div class="topbar">
            <div class="topbar__info">
                У вас {{ score }}&nbsp;очков
            </div>
            <div class="topbar__buttons">
                <button class="button__monitor" data-url="{% url 'monitor:index' %}">Результаты</button>
                <button class="button__logout" data-url="{% url 'users:logout' %}">Выход</button>
            </div>
        </div>
        <div class="map__inner">
            {% for row in map %}
                <div class="tiles-row {{ forloop.counter0|divisibleby:2|yesno:'even,odd' }}" style="top: -{% widthratio forloop.counter0 1 14 %}px"><!--
                    {% for tile in row %}
                        {% if tile == None %}
                            --><div class="tile empty">&nbsp;</div><!--
                        {% else %}
                            --><div class="tile problem status-{{ tile.status }}" data-id="{{ tile.id }}" data-read-url="{% url 'map:tile' tile.id %}" title="{{ tile.html_title }}" alt="{{ tile.html_title }}">{{ tile.ejudge_short_name }}</div><!--
                        {% endif %}
                    {% endfor %}
                --></div>
            {% endfor %}
        </div>
    </div>

    <div class="sidebar">
            <div class="sidebar__tile">
        </div>
        <div class="sidebar__monitor">
            <h1>Результаты</h1>
            <div class="monitor">
            </div>
        </div>
        <div class="sidebar__intro">
            <h1>Добро пожаловать!</h1>
            <p>
                Задачи расположены в&nbsp;шестиугольниках на&nbsp;карте слева. Большинство из&nbsp;них
                сейчас закрыто и&nbsp;недоступно вам.
                Как только вы решаете какую-нибудь задачу, для вас открываются все её&nbsp;соседи.
            </p>
            <p>
                Чтобы решить задачу, отправьте файл с решением или ответ в&nbsp;<a href="/cgi-bin/new-client?contest_id=134" target="_blank">контест в&nbsp;еджадже</a>,
                после чего обновите эту страницу.
            </p>
            <p>
                За&nbsp;правильное решение большинства задач вы получите очки.
                Выигрывает команда, набравшая наибольшее количество очков. Будьте аккуратны:
                за&nbsp;неправильные попытки очки вычитаются! Правда, за&nbsp;правильное решение вы&nbsp;никогда
                не&nbsp;получите меньше 30% от&nbsp;исходной стоимости задачи.
            </p>
            <p>
                Если у вас открыто мало задач, не&nbsp;беспокойтесь: через некоторое время каждая задача
                открывается автоматически.
            </p>
        </div>
        <div class="sidebar__loading">
            <img src="{% static 'images/loading.gif' %}">
        </div>
    </div>
{% endblock %}